<header>
  <div class="container">
    <nav>
      <ul class="login">
        <% if (!isLoggedIn) { %>
          <li>
            <a href="/signup">SignUp</a>
          </li>
          <li>
            <a href="/signin">SignIn</a>
          </li>
          <% } else { %>
            <li>
              <a href="/logout">Logout</a>
            </li>
            <li>
              <div class="userDisplay"><%= user %></div>
            </li>
            <% } %>
      </ul>
    </nav>
  </div>
</header>