<%- include('./includes/header') %>
  </head>

  <body>
    <%- include('./includes/nav') %>
      <section>
        <div class="container">

          <form class="form" action="/signup" method="POST">
            <h1>SignUp</h1>
            <% if(invalidEmail) { %>
              <span class="errorMessage">Email já cadastrado</span>
            <% } %>
            <div class="form__container">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" />
            </div>
            <% if(invalidPassword) { %>
              <span class="errorMessage">Senha invalida</span>
            <% } %>
            <div class="form__container">
              <label for="password">Senha</label>
              <input type="password" name="password" id="password" />
            </div>
            <div class="form__container">
              <label for="confirfmPassword">Confirmar Senha</label>
              <input type="password" name="confirmPassword" id="confirmPassword" />
            </div>

            <button type="submit">Create User</button>
          </form>

        </div>
      </section>
      <%- include('./includes/footer') %>