:root {
--color-purpple: #1b0a5c;
--color-grey: #333333;
--color-light: #b8b8b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-grey);
}

header{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-purpple);
}

.container {
  width: 90vw;
  height: inherit;
  display: flex;
}

header .container {
  justify-content: flex-end;
}

.login {
  width: 8rem;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.login a {
  color: var(--color-light);
  text-decoration: none;
}

section {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}

section .container {
  justify-content: center;
  align-items: flex-start;

}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.form h1 {
  margin-bottom: 1rem;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.form__container label {
  font-size: .8rem;
}

.form__container input {
  width: 12rem;
  height: 1.5rem;
  border: .15rem solid var(--color-purpple);
  border-radius: .2rem;
}

button {
  width: 80%;
  height: 2rem;
  background-color: var(--color-purpple);
  color: var(--color-light);
  border: .1rem solid var(--color-purpple);
}

button:hover {
  background-color: var(--color-light);
  color: var(--color-purpple);
  border: .1rem solid var(--color-light);
}

button:active {
  transform: translateY(.1rem);
}

.errorMessage {
  color: #e91c1c;
  font-size: .8rem;
}